{% extends "debates/base_news.html" %}
{% load url from future %}
{% load staticfiles %}

{% block head %}<link rel="stylesheet" href="{% static 'css/forum.css' %}">{% endblock %}

{% block content %}
    {% for news in view_news %}
        <div class='forum-list-item'>
            <div class="title"><a href="{% url 'debates:details' news.id %}">{{ news.title|capfirst }}</a></div>
            <div>{{ news.text|safe }}</div>
            {% if user.is_authenticated %}
                <img class="img-polaroid" src="{{ news.attach_thumb_url }}">
            {% endif %}
            <div>{{ news.author.username }} | {{ news.creation_date|date:"d.m.Y в H:i" }} | <a href="{% url 'debates:details' news.id %}">комментариев: [{{ news.comments_count }}]</a></div>
        </div>
    {% endfor %}
    {% if view_news.paginator.num_pages > 1 %}
        <div class="forum-pagination">
            {% if first_page %}
                <a href="{% url 'debates:paged_index' first_page %}">{{ first_page }}</a> &larr;
            {% endif %}
            {% for page_num in pages_range %}
                {% if page_num == view_news.number %}
                    <a class="current" href="{% url 'debates:paged_index' page_num %}">{{ page_num }}</a>
                {% else %}
                    <a href="{% url 'debates:paged_index' page_num %}">{{ page_num }}</a>
                {% endif %}
            {% endfor %}
            {% if last_page %}
                &rarr;<a href="{% url 'debates:paged_index' last_page %}">{{ last_page }}</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
