{% extends "debates/base_news.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %}
    <script type="text/javascript" src={% static 'js/jquery.cleditor.min.js' %}></script>
    <script type="text/javascript" src={% static 'js/lightbox.js' %}></script>
    <link rel="stylesheet" href="{% static 'css/jquery.cleditor.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">

    <script type="text/javascript">
        var page = { }
        function onCommentSubmit(){
            var author = $('input[name=author_name]').val();
            var msg = $('textarea[name=msg]').val();
            var csrf = $('input[name=csrfmiddlewaretoken]').val();
            if(author.length == 0 || msg.length == 0){
                return;
            }
            $.post(page.add_comment_url, {'author_name' : author, 'msg' : msg, 'csrfmiddlewaretoken' : csrf}, function(response){
                var data = $.parseJSON(response);
                if(data.code == 200){
                    var tpl = _.template($('#comment-template').html());
                    var comment = $(tpl({'author_name' : author, 'msg' : msg, 'cid' : data.cid, 'date': data.date})).prependTo(page.comments_div);
                {% if user.id == post.author.id %}
                    comment.find('a.comment-delete-link').bind('click', onDeleteCommentClick);
                {% endif %}
                    page.comments_div.fadeIn(300);
                    try{
                        page.editor.clear();
                    }
                    catch(e) {
                        app.error(e.message)
                    }
                }
                else {
                    app.error('Failed to add comment. code: ' + data.code + ';' + data.message);
                }
            });
        }
        {% if user.id == post.author.id %}
            function onDeleteCommentClick(e){
                e.preventDefault();
                var csrf = $('input[name=csrfmiddlewaretoken]').val();
                var container = $(this).parents('div.comment');
                $.post(page.del_comment_url, {'cid' : container.attr('data-cid'),  'csrfmiddlewaretoken' : csrf}, function(response){
                    var data = $.parseJSON(response);
                    if(data.code == 200){
                        container.fadeOut(300, function(){
                            container.remove();
                            if(page.comments_div.find('div.comment').length == 0) page.comments_div.fadeOut(300);
                        });
                    } else {
                        app.error('Failed to delete comment. code: ' + data.code + '; ' + data.message);
                    }
                });
            }
        {% endif %}
        function onGetCommentsComplete(data){
            if(data.code == 200){
                var tpl = _.template($('#comment-template').html());
                for(var i=0;i<data.comments.length;i++){
                    var obj = $.parseJSON(data.comments[i])
                    var comment = $(tpl({'author_name':obj.author_name, 'msg':obj.msg, 'cid':obj.cid, 'date':obj.date}));
                    comment.prependTo(page.comments_div);
                {% if user.id == post.author.id %}
                    comment.find('a.comment-delete-link').bind('click', onDeleteCommentClick);
                {% endif %}
                }
                if(data.comments.length > 0) page.comments_div.fadeIn(200);
            }
            else{
                app.log('get_comments failed. code: ' + data.code + '; message: ' + data.message);
            }
        }
        $(document).ready(function(){
            page.add_comment_url = '{% url 'debates:add_comment' post.id %}';
            page.del_comment_url = '{% url 'debates:delete_comment' post.id %}';
            page.comments_div = $('div.article-comments');
            page.editor = $("textarea[name=msg]").cleditor({
                width: 600,
                height: 100,
                controls: "bold italic underline strikethrough link unlink"
            })[0];
            $.getJSON('{% url 'debates:get_comments' post.id %}', onGetCommentsComplete);
        });
    </script>

{% endblock %}
{% block content %}
    <div class="span1">&nbsp;</div>
    <div class="span10">
    <div class="article">
        <div class="header">{{ post.title|capfirst }}</div>
        <div class="text">{{ post.text|safe }}</div>
        {% if post.attach and user.is_authenticated %}
            <div class="article-attachment"><a href="{{ post.attach_url }}" rel="lightbox" title="Прикрепленное изображение"><img class="img-polaroid" src="{{ post.attach_url }}"></a></div>
        {% endif %}
        <div class="return-btn">
            <input type="button" value="&larr;&nbsp;Назад" class="btn btn-small" onclick="javascript:document.location='{% if return_page %}{% url 'debates:paged_index' return_page %}{% else %}{% url 'debates:index' %}{% endif %}'">
        </div>
    </div>
    {% if user.is_authenticated %}
        <form id="frm-comment" action="{% url 'debates:add_comment' post.id %}" method="post">
            <legend>Добавить комментарий</legend>
            <fieldset>
                <div class="frm-control">
                    <div>
                        <input type="text" name='author_name' value="{{ comment_username }}">
                    </div>
                    <label>Имя</label>
                </div>
                <div class="frm-control">
                    <div>
                        <textarea name='msg' value=""></textarea>
                    </div>
                    <label>Текст</label>
                </div>
                <div class="submit-btn">
                    <input type="button" value="Отправить" class="btn" onclick="onCommentSubmit()">
                </div>
                {% csrf_token %}
            </fieldset>
        </form>
    {% endif %}
        <div class='article-comments' style="display: none;">
            <div class="title">Комментарии</div>
        </div>
    </div>
    <div class="span1">&nbsp;</div>
    <script type="text/template" id="comment-template">
        <div class="comment" data-cid="<%= cid %>">
            <div class="comment-header">
                <b><%= author_name %></b>&nbsp;<small>(<%= date %>)&nbsp;</small>
                {% if user.id == post.author.id %}<small><a class="comment-delete-link" href="#">удалить</a></small>{% endif %}
            </div>
            <div class="comment-body"><%= msg %></div>
        </div>
    </script>
{% endblock %}
