{% extends "videos/base.html" %}
{% load url from future %}

{% block content %}
    {% if articles|length == 0 %}
        <div>Нет записей</div>
    {% else %}
        {% for post in articles %}
            <div class='news_post'>
                <a href="{% url 'videos:show_post' post.uid %}">{{ post.title|upper }}</a> ({{ post.author|capfirst }}; {{ post.creation_date|date:"d.m.Y в H:i" }}) ({{ post.comments_count }})<br/>
                <span>{{ post.text|safe|truncatewords_html:20 }}</span>
            </div>
        {% endfor %}
        {% if articles.paginator.num_pages > 1 %}
            <div class="pagination">
        <span class="step-links">
            {% if articles.has_previous %}
                <a href="{% url 'videos:paged_index' articles.previous_page_number %}">&larr;</a>
            {% endif %}

            <span class="current">
                Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
            </span>
            {% if articles.has_next %}
                <a href="{% url 'videos:paged_index' articles.next_page_number %}">&rarr;</a>
            {% endif %}
        </span>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
