{% extends "videos/base.html" %}
{% load url from future %}
{%  load staticfiles %}
{% block head %}<link rel="stylesheet" href="{% static 'css/video.css' %}">{% endblock %}
{% block content %}
    {% if articles|length == 0 %}
        <div>Нет записей</div>
    {% else %}
        {% for post in articles %}
            <div class='video-list-item'>
                <div class="title"><a href="{% url 'videos:show_post' post.uid %}">{{ post.title|upper }}</a></div>
                <table class="video-list-item-info">
                    <tr>
                        <td><img class="img-polaroid" src="{{ post.get_preview_url }}"><br><a class="btn btn-primary" href="{% url 'videos:show_post' post.uid %}">Просмотр</a></td>
                        <td>{{ post.text|safe }}</td>
                    </tr>
                </table>
                <div>&nbsp;</div>

            </div>
        {% endfor %}
        {% if articles.paginator.num_pages > 1 %}
            <div class="site-pagination">
                {% if first_page %}
                    <a href="{% url 'videos:paged_index' first_page %}">{{ first_page }}</a> &larr;
                {% endif %}
                {% for page_num in pages_range %}
                    {% if page_num == articles.number %}
                        <a class="current" href="{% url 'videos:paged_index' page_num %}">{{ page_num }}</a>
                    {% else %}
                        <a href="{% url 'videos:paged_index' page_num %}">{{ page_num }}</a>
                    {% endif %}
                {% endfor %}
                {% if last_page %}
                    &rarr;<a href="{% url 'videos:paged_index' last_page %}">{{ last_page }}</a>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
