{% extends "news/base_news.html" %}
{% load url from future %}
{% load staticfiles %}
{% block page_title %}Видео{% endblock %}
{% block head %}
        <link rel="stylesheet" href="{% static 'css/video.css' %}">
{% endblock %}
{% block content %}
    <div class="span1">&nbsp;</div>
        <div class="span10">
            <div class="article">
                <div class="header">{{ post.title }}</div>
                <div class="attachment">{{ post.link|safe }}</div>
                <div class="text">{{ post.text|safe }}</div>
                <div class="return-btn">
                    <input type="button" value="&larr;&nbsp;Назад к видео" class="btn btn-small" onclick="javascript:document.location='{% if return_page %}{% url 'videos:paged_index' return_page %}{% else %}{% url 'videos:index' %}{% endif %}'">
                </div>
            </div>
        </div>
    <div class="span1">&nbsp;</div>
{% endblock %}
