/* ----------------------- forum entry details ---------------------------------------*/
.article {
    margin: 60px 0px 30px 0px;
    padding: 20px;
    border: 1px #ddd solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
}
.article > div.header {
    position: absolute;
    top: -35px;
    left: 10px;
    font-size: 1.6em;
}
.article > div.text {
    padding: 10px 10px 10px 0px;
}
.article > div.attachment {
    margin: 10px 10px 10px 0px;
    text-align: center;
}
.article img {
    width: 300px;
}
.article div.return-btn {
    margin: 20px 10px 10px 0px;
}
/* -----------------------------  video index ----------------------------- */
.video-list-item {
    margin: 70px 100px 100px 100px;
    padding: 20px;
    border: 1px #888 solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
}
.video-list-item div.title {
    font-size: 1.2em;
    display: inline-block;
    position: absolute;
    top: -35px;
    left: 10px;
}
.video-list-item img {
    width: 350px;
}
.video-list-item div.title > a{
    color: #000;
    font-size: 1.25em;
}
.video-list-item a:first-child:hover {
    text-decoration: none;
}
.video-list-item div:last-child {
    /*position: absolute;*/
    /*bottom: -30px;*/
    /*right: 0px;*/
    /*color: #808080;*/
}
.video-list-item div:last-child a {
    /*font-weight: bold;*/
}
.video-list-item div:nth-child(2) {
    padding: 0px 0px 10px 0px;
}

.video-pagination {
    padding: 0 80px 50px 80px;
    text-align: center;
    font-size: 1.3em;
}

.video-pagination a {
    padding: 5px;
    text-align: center;
    display: inline-block;
    color: #556f8a;
    width: 20px;
}
.video-pagination a:hover {
    background-color: #7598bc;
    text-decoration: none;
}
.video-pagination a.current {
    background-color: #556f8a;
    color: #fff;
}