{% extends 'manager_base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block head %}
    <script type="text/javascript" src={% static 'js/jquery.cleditor.min.js' %}></script>
    <link rel="stylesheet" href="{% static 'css/jquery.cleditor.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_albums.css' %}">
{% endblock %}
{% block content %}
    {% if form.title.errors %}
        <div class='alert alert-error'>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% for e in form.title.errors %}URL: {{ e }}<br>{% endfor %}
        </div>
    {% endif %}
    {% if form.description.errors %}
        <div class='alert alert-error'>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% for e in form.description.errors %}Заголовок: {{ e }}<br>{% endfor %}
        </div>
    {% endif %}
    <form id="post-edit-form" action="" method="post" class="form-horizontal">
        <fieldset>
            <legend>Изменение альбома</legend>
            <div class="control-group">
                <label class="control-label">Заголовок: </label>
                <div class="controls">
                    {{ form.title }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Описание: </label>
                <div class="controls">
                    {{ form.description }}
                </div>
            </div>
            {% csrf_token %}
            <div class="control-group">
                <div class="controls">
                    <button type="button" class='btn btn-primary' onclick="$('#post-edit-form').submit()">Сохранить</button>
                    <button type="button" class='btn' onclick="javascript:document.location='{% url 'management:albums_index' %}'" >Отмена</button>
                </div>
            </div>
        </fieldset>
    </form>
    <h4>Фотографиии</h4>
    <div class='album-photos-preview'><img src="{% static 'img/loading_small.gif' %}" alt=""></div>
    <div style="margin: 10px; margin-left: 0px;;"><a href="{% url 'management:albums_uploads' album.id %}" class="btn btn-primary btn-small">Добавить фотографии в альбом&nbsp;<i class="icon-upload icon-white"></i></a></div>
    <script type="text/javascript">
        function factoryDeleteClickHanlder(url){
            return function(){
                $(this).parent('div').fadeOut(300, function(){$(this).remove();});
                $.post(url,{
                    'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val()
                }, function(response){
                    var r = $.parseJSON(response);
                    if(r.code != 200){
                        app.log('Failed to delete file on server with code: ' + r.code + '; '+ r.message);
                    }
                });
            }
        }
        function factoryEditClickHandler(edit_url){
            return function(){
                javascript:document.location=edit_url;
            }
        }

        $(document).ready(function(){
            $('textarea').addClass('input-xxlarge');
            $('form#post-edit-form input[type=text]').addClass('input-xlarge')
            $('form#post-edit-form textarea').cleditor({
                width: 710,
                height: 250,
                controls: "bold italic underline strikethrough subscript superscript | font size " +
                        "style | color highlight removeformat | bullets numbering | outdent " +
                        "indent | alignleft center alignright justify | undo redo | " +
                        "rule link unlink | cut copy paste pastetext"
            });

            // loading album photos
            $.getJSON('{% url 'management:albums_photos' album.id %}', function(data){
                if(data.code == 200){
                    var container = $('div.album-photos-preview');
                    if (data.photos.length == 0){
                        container.html('В альбоме нет фотографий');
                    }
                    else{
                        container.html('');
                        for(var i=0;i<data.photos.length;i++){
                            var photo = $.parseJSON(data.photos[i]);
                            $(_.template($('#img-tml').html(), {
                                    'img_src' : photo.thumb_url,
                                    'img_alt' : photo.description,
                                    'pid' : photo.pid
                                })
                            ).find('i.icon-remove').on('click', factoryDeleteClickHanlder(photo.delete_url)).end()
                            .find('i.icon-edit').on('click', factoryEditClickHandler(photo.uplate_url)).end()
                            .appendTo(container);
                        }
                        container.find('img').popover({
                                    'trigger' : 'hover',
                                    'placement' : 'top'
                                });
                    }
                }
                else{
                    app.log('Failed to load album photos. code: ' + data.code);
                }
            });
        });
    </script>
    <script type="text/template" id="img-tml">
        <div id="<%= pid %>">
            <img src="<%= img_src %>" class="img-polaroid" data-content="<%= img_alt %>">
            <i class="icon-remove"></i>
            <i class="icon-edit"></i>
        </div>
    </script>
{% endblock %}
