{% extends 'manager_base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block head %}
    <style type="text/css">
    .img-upload-inholder{
        overflow: hidden;
        width: 132px;
        height: 31px;
        background-color: #fff;
        text-align: center;
        vertical-align: middle;
        border-radius: 3px;
        padding-top: 1px;
    }
    .img-upload-inholder:hover{ box-shadow: 0px 0px 10px 0px #f1f1f1; }
    .img-upload-inholder input[type=file]{
        margin-top: -65px;
        margin-left: -410px;
        -moz-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        font-size: 150px;
        height: 98px;
    }
    .attach-container{
        position: relative;
        overflow: hidden;
        height: 160px;
        margin-bottom: 10px;
    }
    .attach-container img {
        width: 140px;
    }
    .attach-container label {
        position: absolute;
        left: 200px;
    }
    .attach-container input[name=author]{
        position: absolute;
        top: 0px;
        left: 280px;
    }
    .attach-container textarea{
        position: absolute;
        top: 40px;
        left: 280px;
        width: 400px;
        height: 50px;
    }
    input[type=text].warning,
    textarea.warning {
        border: 1px solid #fed0d0;
        background-color: #fdf9f9;
    }
    .attach-container .lb-attach-author { top: 3px;}
    .attach-container .lb-attach-descr { top: 43px;}
    .attach-container a.btn { position: absolute; top: 110px; }
    .attach-container a.btn-attach-save {left: 280px; }
    .attach-container a.btn-attach-cancel {position: absolute; left: 390px; top: 110px;}
    .ifr-hidden {
        width: 1px;
        height: 1px;
        border: 0 solid #FFF;
    }
    </style>
{% endblock %}
{% block content %}
<h4>Загрузка фотографий в альбом</h4>
    <div>
        <form id="upload-frm" action="{% url 'management:albums_upload_recieve' album.id %}" method="post" target="" enctype="multipart/form-data">
            <fieldset>
                <div class="img-upload-inholder">
                    <button class="btn">Загрузить файл</button>
                    <input name='userfile' type='file' size='1' maxlength='1'>
                </div>
                {% csrf_token %}
                <input type="hidden" name="request_id" />
            </fieldset>
        </form>
    </div>
    <div class="uploads-container"></div>
    <div class="iframes-container"></div>
    <script type="text/javascript">

    function onUploadComplete(code, rid, uid, thumb_url){
        $('form#upload-frm').attr('target', '').find('input[name=request_id]').val('');
        var csrf = $('input[name=csrfmiddlewaretoken]').val();

        $('div.iframes-container iframe#' + rid).remove();

        var host = $('div#' + rid);
        host.find('img').attr('src', thumb_url).end()
            .find('a.btn-attach-save').on('click', function(e){
                    e.preventDefault();
                    var valid = true;
                    var author = host.find('input[name=author]');
                    if(author.val().length == 0){
                        author.addClass('warning');
                        valid = false;
                    }
                    else{
                        author.removeClass('warning')
                    }
                    var descr = host.find('textarea[name=description]');
                    if(descr.val().length == 0){
                        descr.addClass('warning');
                        valid = false;
                    } else{
                        descr.removeClass('warning')
                    }
                    if(!valid) return;

                    $.post('{% url 'management:albums_upload_save' album.id %}', {
                                'csrfmiddlewaretoken' : csrf,
                                'uid' : uid,
                                'author' : author.val(),
                                'description' : descr.val()
                            }, function(response){
                                var respObj = $.parseJSON(response);
                                if(respObj.code == 200){
                                    host.fadeOut(900).remove();
                                    app.log('saved ' + uid);
                                }
                                else{
                                    app.log('save failed with code ' + respObj.code + '; ' + respObj.message);
                                }
                            }
                    );
            }).end()
            .find('a.btn-attach-cancel').on('click', function(e){
                    e.preventDefault();
                    $.post('{% url 'management:albums_upload_delete' album.id %}', {
                                'csrfmiddlewaretoken' : csrf,
                                'uid' : uid
                            }
                    );
                    host.fadeOut(900).remove();
                    app.log('deleted ' + uid);
            }).end();
    }

    $(document).ready(function(){
        $('form#upload-frm input[type=file]').on('change', function(){
            var uuid = app.genUuid();
            $('div.iframes-container').append(_.template($('#iframe-tpl').html(), {'iframe_id' : uuid}));
            $('form#upload-frm')
                    .attr('target', uuid)
                    .find('input[name=request_id]').val(uuid).end()
                    .submit();

            $('div.uploads-container').append(_.template($('#uploaded-attach-tpl').html(), {'request_id' : uuid}));
        });
    });

    </script>
<script type="text/template" id="iframe-tpl">
    <iframe class="ifr-hidden" src='' id='<%= iframe_id %>' name='<%= iframe_id %>'></iframe>
</script>
<script type="text/template" id="uploaded-attach-tpl">
    <div id="<%= request_id %>" class="attach-container">
        <img src="{% static 'img/blank.png' %}" class="img-polaroid" alt="">
        <label class="lb-attach-author">Автор:</label>
        <input name="author" type="text">
        <label class="lb-attach-descr">Описание:</label>
        <textarea name="description"></textarea>
        <a href="#" class="btn btn-attach-save">Сохранить</a>
        <a href="#" class="btn btn-attach-cancel">Отмена</a>
    </div>
</script>
{% endblock %}