{% extends "news/base_news.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %}
    <script type="text/javascript" src={% static 'js/jquery.cleditor.min.js' %}></script>
    <link rel="stylesheet" href="{% static 'css/jquery.cleditor.css' %}">
{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <div>{{ post.text|safe }}</div>
    {% if post.enclosure %}
        <div><img src="{{ post.attach_full_url }}" alt="Attach"></div>
    {% endif %}
    <h4>Комментарии</h4>
    <div class='post-comments'></div>
    <form id="frm-comment" action="{% url 'news:add_comment' post.id %}" method="post">
        <legend>Добавить комментарий</legend>
        <fieldset>
            <div style="position: relative;">
                <div style='padding-left: 50px;'>
                    <input type="text" name='author_name' value="{% if user.is_authenticated %}{{ user.username }}{% endif %}" class="">
                </div>
                <label style="position: absolute; left: 0px; top: 5px">Имя</label>
            </div>
            <div style="position: relative;">
                <div style='padding-left: 50px;'>
                    <textarea name='msg' value="" class="" style="width: 600px; height: 100px;"></textarea>
                </div>
                <label style="position: absolute; left: 0px; top: 5px">Текст</label>
            </div>
            {% csrf_token %}
            <div style="padding-left: 50px; margin-top: 10px;">
                <input type="button" value="Отправить" class="btn" onclick="onCommentSubmit()">&nbsp;<a class="btn" href="{% if return_page %}{% url 'news:paged_index' return_page %}{% else %}{% url 'news:index' %}{% endif %}"><i class="icon-arrow-left"></i>Назад к новостям</a>&nbsp;
            </div>
        </fieldset>
    </form>
    <script type="text/javascript">
        function onCommentSubmit(){
            var author = $('input[name=author_name]').val();
            var msg = $('textarea[name=msg]').val();
            var csrf = $('input[name=csrfmiddlewaretoken]').val();
            if(author.length == 0 || msg.length == 0){
                //
                return;
            }

            $.post('{% url 'news:add_comment' post.id %}', {'author_name' : author, 'msg' : msg, 'csrfmiddlewaretoken' : csrf}, function(){
                var tpl = _.template($('#comment-template').html());
                $('div.post-comments').prepend(tpl({'author_name' : author, 'msg' : msg}));
                $('textarea[name=msg]').val('')
            });
        }
        $(document).ready(function(){
            $.getJSON('{% url 'news:get_comments' post.id %}', function(data){
                if(data.code == 200){
                    var tpl = _.template($('#comment-template').html());
                    var cmdiv = $('div.post-comments');
                    for(var i=0;i<data.comments.length;i++){
                        var obj = $.parseJSON(data.comments[i])
                        cmdiv.prepend(tpl({'author_name' : obj.author_name, 'msg' : obj.msg}));
                    }
                }
                else{
                    app.log('get_comments failed. code: ' + data.code + '; message: ' + data.message);
                }
            });
            $("textarea[name=msg]").cleditor({
                width: 600,
                height: 100,
                controls: "bold italic underline strikethrough link unlink"
            });
            {% if user.is_authenticated %}
            $('input[name=author_name]').val('{{ user.username }}');
            {% endif %}
        });
    </script>
    <div>
    </div>
    <script type="text/template" id="comment-template">
        <div style="margin-top: 10px; margin-bottom: 5px;">
            <div style='background: #eee; padding: 7px; border-radius: 5px;'><%= author_name %></div>
            <div style='padding: 10px;'><%= msg %></div>
        </div>
    </script>
{% endblock %}
