{% load url from future %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block page_title %}Снеж-Фото{% endblock %}</title>
    <noscript><meta http-equiv='refresh' content='0; url=/badbrowser.html'> </noscript>
    <script type="text/javascript" src={% static 'js/jquery-1.8.3.min.js' %}></script>
    <script type="text/javascript" src={% static 'js/underscore-min.js' %}></script>
    <script type="text/javascript" src={% static 'js/bootstrap.min.js' %}></script>
    <script type="text/javascript" src={% static 'js/app.js' %}></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block head %}{% endblock %}
    {% if is_debug %}
        <script type="text/javascript">
            app.loggerActive(true);
        </script>
    {% endif %}
</head>
<body>
<div class="container-fluid">
    <div class='header'>
        <div class="title">Снеж-Фото</div>
        <div class='user_panel'>
            {% if user.is_authenticated %}
                {{ user.username }} <a href="{% url 'management:index' %}">[Панель управления]</a> <a href="{% url 'logout_handler' %}">[Выход]</a>
            {% else %}
                {% csrf_token %}
                <input type="text" name="login" style="width: 120px;"><br>
                <input type="password" name="password" style="width: 120px;"><br>
                <a href="#" id="btn_login" class="btn btn-mini">Вход</a>
                <script type="text/javascript">
                    var loginBtn;

                    function loginButtonClickHandlder(e){
                        e.preventDefault();
                        var login = $('input[name=login]').val();
                        var pass = $('input[name=password]').val();
                        var csrf = $('input[name=csrfmiddlewaretoken]').val();
                        if(login.length < 1 || pass.length < 1){
                            return;
                        }
                        $.post('{% url 'login_handler' %}', {'login' : login, 'pwd' : pass, 'csrfmiddlewaretoken' : csrf}, function(data){
                            var result = JSON.parse(data);
                            if(result.code == 0){
                                document.location='{% url 'news:index' %}';
                            }
                            else{
                                $('input[name=login]').val('');
                                $('input[name=password]').val('');
                                loginBtn.popover('show');
                                setTimeout(function(){loginBtn.popover('hide')}, 3000);
                            }
                        });
                    }
                    $(document).ready(function(){
                        loginBtn = $('#btn_login')
                        loginBtn.click(loginButtonClickHandlder);
                        loginBtn.popover({
                            'trigger' : 'manual',
                            'placement' : 'left',
                            'content': 'Ошибка: Указано неверное имя пользователя или пароль!'
                        });

                        $('input[name=login], input[name=password]').on('change', function() { loginBtn.popover('hide');})
                    });
                </script>
            {% endif %}
        </div>
    </div>
<div class="navbar">
    <div class="navbar-inner">
    <ul class="nav">
        <li {% if section == "news" %}class="active"{% endif %}><a href="{%  url 'news:index' %}">Новости</a></li>
        <li {% if section == "photo" %}class="active"{% endif %}><a href="{% url 'photos:index' %}">Фото</a></li>
        <li {% if section == "video" %}class="active"{% endif %}><a href="{% url 'videos:index' %}">Видео</a></li>
    </ul>
    </div>
</div>
    {% block content %}{% endblock %}
    <div class='footer'>
        <center><small>Разработка: <a href="http://sinland.ru">sinlabs</a></small></center>
    </div>
</div>
</body>
</html>