{% extends "videos/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block page_title %}Альбом - {{ album.title }}{% endblock %}
{% block head %}
    <script type="text/javascript" src={% static 'js/lightbox.js' %}></script>
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">

    <style type="text/css">
    .album-title {
        font-size: 1.5em;
        margin: 5px 5px 5px 0px;
    }
    .album-author {
        font-style: italic;
        font-size: 0.9em;
    }
    .album-description{
        margin: 5px 0px 0px 0px;
    }
    .album-photo-view {
        margin: 10px 10px 10px 0px;
        display: inline-block;
    }
    .album-photo-view img {
        width: 1024px;

    }
    .album-photo-list {
        width: 1024px;
    }
    .album-photo-thumbnail {
        display: inline-block;
        margin: 10px;
    }
    .album-photo-description{
        padding-left: 45%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .album-photo-absent {
        padding: 10px;
        font-size: 1.1em;
        font-weight: bold;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="album-title">{{ album.title }}</div>
    <div class="album-author">{{ album.author }} {{ album.creation_date|date:"H:i d.m.Y" }}</div>
    <div class="album-description">{{ album.description|safe }}</div>
    <div class="clearfix"></div>
    {% if album.get_photos|length > 0 %}
        {% if photo %}
            <div class="album-photo-view">
                <a href="{{ photo.get_file_url }}" rel="lightbox"><img class="img-polaroid" src="{{ photo.get_file_url }}" title="{{ photo.description }}"></a>
                <div class="album-photo-description">{{ photo.author }} - {{ photo.description }}</div>
            </div>
        {% else %}
            {% with p=album.get_photos|first %}
                <div class="album-photo-view">
                    <a href="{{ p.get_file_url }}" rel="lightbox"><img class="img-polaroid" src="{{ p.get_file_url }}" title="{{ p.description }}"></a>
                    <div class="album-photo-description">{{ p.author }} - {{ p.description }}</div>
                </div>
            {% endwith %}
        {% endif %}
        <div class="album-photo-list">
        {% for p in album.get_photos %}
            <div class="album-photo-thumbnail"><a href="{% url 'photos:details_sel_photo' album.id p.id %}"><img class="img-polaroid" src="{{ p.get_thumb_url }}" title="{{ p.description }}"></a></div>
        {% endfor %}
        </div>
    {% else %}
        <div class="album-photo-absent">В этом альбоме нет фото</div>
    {% endif %}
    <div style="margin: 10px 10px 10px 0px;">
        <a href="{% url 'photos:paged_index' last_viewed_gallerypage %}" class="btn">Назад к альбомам</a>
    </div>
{% endblock %}
