{% extends "videos/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block page_title %}Альбом - {{ album.title }}{% endblock %}
{% block head %}
    <script type="text/javascript" src={% static 'js/lightbox.js' %}></script>
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}
{% block content %}
    <div class="album">
        <a href="{% url 'photos:paged_index' last_viewed_gallerypage %}" class="btn btn-small">&larr;&nbsp;Назад к альбомам</a>
        <div class="album-title">{{ album.title }}</div>
        <div class="album-author">{{ album.author }} {{ album.creation_date|date:"H:i d.m.Y" }}</div>
        <div class="album-description">{{ album.description|safe }}</div>
        <div class="clearfix"></div>
        {% if album.get_photos|length > 0 %}
                <div class="album-photo-view">
                    <a href="{{ photo.get_file_url }}" rel="lightbox"><img class="img-polaroid" src="{{ photo.get_file_url }}" alt="photo" title="{{ photo.description }}"></a>
                    <div class="album-photo-description">{{ photo.author }} - {{ photo.description }}</div>
                    {% if prev_i >= 0 %}
                        <a href="{% url 'photos:details_sel_photo' album.id prev_i %}"><img class="photo-prev" src="{% static 'img/prev.png' %}" /></a>
                    {% endif %}
                    {% if next_i %}
                        <a href="{% url 'photos:details_sel_photo' album.id next_i %}"><img class="photo-next" src="{% static 'img/next.png' %}" /></a>
                    {% endif %}
                </div>
            <div class="album-photo-list">
            {% for p in album.get_photos %}
                <div class="album-photo-thumbnail"><a href="{% url 'photos:details_sel_photo' album.id forloop.counter0 %}"><img class="img-polaroid" alt="pic-{{ forloop.counter }}" src="{{ p.get_thumb_url }}" title="{{ p.description }}"></a></div>
            {% endfor %}
            </div>
        {% else %}
            <div class="album-photo-absent">В этом альбоме нет фото</div>
        {% endif %}
    </div>
{% endblock %}
