{% extends "videos/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block page_title %}Альбом - {{ album.title }}{% endblock %}
{% block head %}
    <script type="text/javascript" src={% static 'js/lightbox.js' %}></script>
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}
{% block content %}
    <div class="album">
        <a href="{% url 'photos:paged_index' last_viewed_gallerypage %}" class="btn btn-small">&larr;&nbsp;Назад к альбомам</a>
        <div class="album-title">{{ album.title }}</div>
        <div class="album-author">{{ album.author }} {{ album.creation_date|date:"H:i d.m.Y" }}</div>
        <div class="album-description">{{ album.description|safe }}</div>
        <div class="clearfix"></div>
        {% if album.get_photos|length > 0 %}
            {% if photo %}
                <div class="album-photo-view">
                    <a href="{{ photo.get_file_url }}" rel="lightbox"><img class="img-polaroid" src="{{ photo.get_file_url }}" alt="photo" title="{{ photo.description }}"></a>
                    <div class="album-photo-description">{{ photo.author }} - {{ photo.description }}</div>
                </div>
            {% else %}
                {% with p=album.get_photos|first %}
                    <div class="album-photo-view">
                        <a href="{{ p.get_file_url }}" rel="lightbox"><img class="img-polaroid" src="{{ p.get_file_url }}" alt="photo" title="{{ p.description }}"></a>
                        <div class="album-photo-description">{{ p.author }} - {{ p.description }}</div>
                    </div>
                {% endwith %}
            {% endif %}
            <div class="album-photo-list">
            {% for p in album.get_photos %}
                <div class="album-photo-thumbnail"><a href="{% url 'photos:details_sel_photo' album.id p.id %}"><img class="img-polaroid" alt="pic-{{ forloop.counter }}" src="{{ p.get_thumb_url }}" title="{{ p.description }}"></a></div>
            {% endfor %}
            </div>
        {% else %}
            <div class="album-photo-absent">В этом альбоме нет фото</div>
        {% endif %}

    </div>
{% endblock %}
