{% extends "photos/base_photos.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}
{% block content %}
    {% if albums|length > 0 %}
        {% for album in albums %}
            <div class='photoalbum'>
                <div class="photoalbum-title"><a href="{% url 'photos:details' album.id %}">{{ album.title }}</a></div>
                <div class="photoalbum-underline">{{ album.author }} | {{ album.creation_date|date:"d.m.Y в H:i" }} | {{ album.photos_count }} фото</div>
                <div class="photoalbum-summary">
{#                    <img src="{% static 'img/blank.png' %}" alt="">#}
                    {% for url in album.get_random_pics_url %}
                        <img src="{{ url }}">
                    {% endfor %}
                    <div class="description">
                        {{ album.description|safe|truncatewords_html:100 }}
                        <a href="{% url 'photos:details' album.id %}" class="btn btn-mini">Открыть...</a>
                    </div>

                </div>

            </div>
        {% endfor %}
        {% if albums.paginator.num_pages > 1 %}
            <div class="pagination">
                <span class="step-links">
                    {% if album.has_previous %}
                        <a href="{% url 'news:paged_index' album.previous_page_number %}">&larr;</a>
                    {% endif %}

                    <span class="current">
                        Page {{ album.number }} of {{ album.paginator.num_pages }}.
                    </span>
                    {% if album.has_next %}
                        <a href="{% url 'news:paged_index' album.next_page_number %}">&rarr;</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
        {% else %}
        <span>Нет альбомов</span>
    {% endif %}

{% endblock %}